/// Параметры шаблона
$page_width: 1151px;
$container_width: 952px;
$footer_height: 311px;
$sidebar_width: 258px;


// adapt width
$mobile: 320px 480px;
$s-tablete: 480px 767px;
$tablet: 768px 1023px;
$desktop: 1024px;

/// color-list 
$yellow: #fff200;

/// font stack

