$desktop-width: 1000px;
$tablet-width: 768px;
$mobile-landscape-width: 480px;
$mobile-width: 320px;

/* media queries mixin
 value: desktop, tablet, sm-tablet, mobile-l, mobile
*/
@mixin adapt($point) {

  @if $point == desktop {
    @media (min-width: #{$desktop-width}) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: $tablet-width) /*and (max-width: $desktop-width - 1px)*/ { @content; }
  }
  @else if $point == sm-tablet {
    @media (min-width: $mobile-landscape-width) /*and (max-width: $tablet-width - 1px)*/  { @content; }
  }
  @else if $point == mobile-landscape {
    @media (min-width: $mobile-width + 1px)/* and (max-width: $mobile-landscape-width - 1px) */ { @content; }
  }
  @else if $point == mobile {
    @media (max-width: $mobile-width)  { @content; }
  }
  @else if $point == all-mobile {
    @media (max-width: $tablet-width)  { @content; }
  }

  @else if $point == all-desktop {
    @media (min-width: $tablet-width+1px) { @content; }
  }

  @else if $point == bf-ld-mobile {
    @media (max-width: $mobile-landscape-width) /*and (max-width: $tablet-width - 1px)*/  { @content; }
  }
}