body {
///  font-family: 'PT Sans', sans-serif;
}

a:link {a
  &:hover {
    text-decoration: none;
  }
}

input[type=submit] {
  cursor: pointer;
}


p {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

ul {
  li {

  }
}

ol {
  li {

  }
}

