.row {
  @include clearfix;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: $i/12*100%;
    box-sizing: border-box;
    float: left;
  }
}

@include adapt(mobile) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      width: $i/12*100%;
      box-sizing: border-box;
      float: left;
    }
  }

  .col-sm-hide {
    display: none;
  }
}

@include adapt(mobile-landscape) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: $i/12*100%;
      box-sizing: border-box;
      float: left;
    }
  }

  .col-sm-hide {
    display: none;
  }
}

@include adapt(sm-tablet) {
  @for $i from 1 through 12 {
    .col-st-#{$i} {
      width: $i/12*100%;
      box-sizing: border-box;
      float: left;
    }
  }

  .col-st-hide {
    display: none;
  }
}

@include adapt(tablet) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: $i/12*100%;
      box-sizing: border-box;
      float: left;
    }
  }

  .col-md-hide {
    display: none;
  }
}

@include adapt(desktop) {
  @for $i from 1 through 12 {
    .col-lg-#{$i}{
      width: $i/12*100%;
      box-sizing: border-box;
      float: left;
    }
  }

  .col-lg-hide {
    display: none;
  }
}