extends ./layout/base.pug
include ./layout/header.pug
    block breadcrumb
        // эта фигня заменяет хлебные крошки базового шаблона, в данном случае обнуляет их потому что страница главная
    block content
        | контент главной страницы
include ./layout/footer.pug
