extends ./layout/base.pug
include ./layout/header.pug
  block content
    block breadcrumb
    | контент главной страницы
    .row
      .col-xs-12.col-md-6.col-lg-4
        .test-block test
      .col-xs-6
        .test-block test
      .col-xs-4 1/4
      .col-xs-4 1/4
      .col-xs-4 1/4
      .col-xs-2 1/2
      .col-xs-2 1/2
      .col-xs-2 1/2
      .col-xs-2 1/2
      .col-xs-2 1/2
      .col-xs-2 1/2
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1
      .col-xs-1 1/1


include ./layout/footer.pug