doctype html
html
	head
		meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
  		title
		meta(description='' content='')
  		meta(keywords='' content='')
		link(rel="stylesheet" href="css/screen.css")
	body
		.wrapper
			header
				block header
			.container
				.inner
					block breadcrumb
						.breadcrumbs
							a(href="/")
								span Главная
							block PageBread
								span Инерная
					block leftMenu
					block content
						.content
					.clear
			.clear
			.footer-wrapper
		footer
			.inner
				block footer
		script(src="js/script.js")
