block header
	header.site-header
		.inner
			.menu
				ul
					- list = ["Услуги", "Прайс", "Лицензии","Сотрудничество", "Вопрос-ответ", "Статьи", "Клиенты", "Вакансии", "Контакты"]
					each item in list
						li
							a(href="#") #{item}
